<!DOCTYPE html>
<html>
<head>
    <title>Multiclass 2D Object Detection using NuImages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Multiclass 2D Object Detection using NuImages</h1>
        <form id="uploadForm">
            <input type="file" id="imageUpload" accept="image/*"><br><br>
            <button type="submit">Upload and Process</button>
            <p id="loading">Processing image, please wait...</p>
        </form>
        <div id="output">
            <div class="img-container">
                <h3>Uploaded Image</h3>
                <img id="uploadedImage" alt="Uploaded Image"/>
            </div>
            <div class="img-container">
                <h3>Processed Image</h3>
                <img id="processedImage" alt="Processed Image"/>
            </div>
        </div>
    </div>

    <script>
    document.getElementById('uploadForm').onsubmit = async function(event) {
        event.preventDefault();
        const fileInput = document.getElementById('imageUpload');
        const file = fileInput.files[0];

        // Display the uploaded image
        const uploadedImageElement = document.getElementById('uploadedImage');
        uploadedImageElement.src = URL.createObjectURL(file);

        const formData = new FormData();
        formData.append('image', file);

        // Show loading message
        document.getElementById('loading').style.display = 'block';

        // Send the image to the backend
        const response = await fetch('/predict', {
            method: 'POST',
            body: formData
        });

        // Hide loading message
        document.getElementById('loading').style.display = 'none';

        if (response.ok) {
            const processedImageElement = document.getElementById('processedImage');
            const blob = await response.blob();
            processedImageElement.src = URL.createObjectURL(blob);
        } else {
            processedImageElement.src = '';
            alert('Error: The server could not process the image. Please check the image format or try again later.');
        }
    };
    </script>
</body>
</html>
