<!DOCTYPE html>
<html>
<head>
    <title>Multiclass 2D Object Detection using NuImages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Multiclass 2D Object Detection using NuImages</h1>
        <form id="uploadForm">
            <input type="file" id="imageUpload" accept="image/*, video/*"><br><br>
            <button type="submit">Upload and Process</button>
            <p id="loading">Processing image, please wait...</p>
        </form>
        <div id="output">
            <div class="img-container">
                <h3>Uploaded Image</h3>

                <img id="uploadedImage" alt="Uploaded Image"/>
            </div>
            <div class="img-container">
                <h3>Processed Image</h3>
                <img id="processedImage" alt="Processed Image"/>
            </div>
        </div>
        <div>
            <div class="mySlides">
              <img id = "gal" src="/static/images/test_1.jpg" style="width:50%">
            </div>

            <div class="mySlides">
              <img id = "gal" src="/static/images/test_2.jpg" style="width:50%">
            </div>
          
            <div class="mySlides">
              <img id = "gal" src="/static/images/test_3.jpg" style="width:50%">
            </div>
              
            <div class="mySlides">
              <img id = "gal" src="/static/images/test_4.jpg" style="width: 50%">
            </div>
          
            <div class="mySlides">
              <img id = "gal" src="/static/images/test_5.jpg" style="width:50%">
            </div>
              
            <div class="mySlides">
              <img id = "gal" src="/static/images/test_6.jpg" style="width:50%">
            </div>

            <div class="mySlides">
                <img id = "gal" src="/static/images/test_7.jpg" style="width:50%">
            </div>

            <div class="mySlides">
                <img id = "gal" src="/static/images/test_8.jpg" style="width:50%">
            </div>

            <div class="mySlides">
                <img id = "gal" src="/static/images/test_9.jpg" style="width:50%">
            </div>

            <div class="mySlides">
                <img id = "gal" src="/static/images/test_10.jpg" style="width:50%">
            </div>
          
            <div class="caption-container">
              <p id="caption"></p>
            </div>
          
            <div class="row">
              <div class="column">
                <img class="cursor" src="/static/images/test_1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Test 1">
              </div>
              <div class="column">
                <img class="cursor" src="/static/images/test_2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Test 2">
              </div>
              <div class="column">
                <img class="cursor" src="/static/images/test_3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Test 3">
              </div>
              <div class="column">
                <img class="cursor" src="/static/images/test_4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Test 4">
              </div>
              <div class="column">
                <img class="cursor" src="/static/images/test_5.jpg" style="width:100%" onclick="currentSlide(5)" alt="Test 5">
              </div>    
              <div class="column">
                <img class="cursor" src="/static//images/test_6.jpg" style="width:100%" onclick="currentSlide(6)" alt="Test 6">
              </div>
              <div class="column">
                <img class="cursor" src="/static//images/test_7.jpg" style="width:100%" onclick="currentSlide(7)" alt="Test 7">
              </div>
              <div class="column">
                <img class="cursor" src="/static//images/test_8.jpg" style="width:100%" onclick="currentSlide(8)" alt="Test 8">
              </div>
              <div class="column">
                <img class="cursor" src="/static//images/test_9.jpg" style="width:100%" onclick="currentSlide(9)" alt="Test 9">
              </div>
              <div class="column">
                <img class="cursor" src="/static//images/test_10.jpg" style="width:100%" onclick="currentSlide(10)" alt="Test 10">
              </div>
            </div>
        </div>

    </div>

    <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let captionText = document.getElementById("caption");

    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }

    slides[slideIndex-1].style.display = "block";
    }
        
    document.getElementById('uploadForm').onsubmit = async function(event) {
        event.preventDefault();
        const fileInput = document.getElementById('imageUpload');

        const file = fileInput.files[0];

        // if filename ends with mp4
        if (file.name.endsWith('mp4')){ 

            const formData = new FormData();
            formData.append('video', file);

            const response = await fetch('/predict_video', {
                method: 'POST',
                body: formData
            });
            
            window.location.replace('./video')
        }

        // Display the uploaded image
        const uploadedImageElement = document.getElementById('uploadedImage');
        uploadedImageElement.src = URL.createObjectURL(file);

        const formData = new FormData();
        formData.append('image', file);

        // Show loading message
        document.getElementById('loading').style.display = 'block';

        // Send the image to the backend
        const response = await fetch('/predict', {
            method: 'POST',
            body: formData
        });

        // Hide loading message
        document.getElementById('loading').style.display = 'none';

        if (response.ok) {
            const processedImageElement = document.getElementById('processedImage');
            const blob = await response.blob();
            processedImageElement.src = URL.createObjectURL(blob);
        } else {
            processedImageElement.src = '';
            alert('Error: The server could not process the image. Please check the image format or try again later.');
        }
    };
    </script>
</body>
</html>
